@using TrainingWebsite.ViewModels
@using TrainingWebsite.Areas.Manager.Models
@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<TrainingWebsite.ViewModels.CourseHomeViewModel>
@{
    ViewData["Title"] = "Course";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" type="text/css" href="~/assets/styles/courses.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/courses_responsive.css">
<style>
    .card-img-top {
        width: 100%;
        height: 25vh;
    }

    ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

        ul.pagination li {
            display: inline;
        }

            ul.pagination li a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                border: 1px solid #ddd;
            }

                ul.pagination li a:hover {
                    background-color: #ddd;
                }
</style>
<!-- Home -->

<div class="home">
    <div class="breadcrumbs_container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li>Courses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Courses -->

<div class="courses">
    <div class="container">
        <div class="row">

            <!-- Courses Main Content -->
            <div class="col-lg-8">
                <div class="courses_search_container">
                    <form method="get" asp-action="Index" id="courses_search_form" class="courses_search_form d-flex flex-row align-items-center justify-content-start">
                        <input value="@ViewBag.txtSearch" name="txtSearch" type="text" class="courses_search_input" style="border:none;" placeholder="Search Course Name.." />

                        <select name="JobPosID" asp-items="ViewBag.CategoryID" id="courses_search_select" class="courses_search_select courses_search_input">
                        </select>


                        <input type="submit" class="courses_search_button ml-auto" value="Search Now"/>
                    </form>
                </div>
                <div class="courses_container">
                    <div class="row courses_row">
                        @foreach (var course in Model)
                        {
                            <div class="col-lg-6 course_col">
                                <div class="course">
                                    <div class="course_image"><img object-fit:cover" src="@Url.Content("~/images/" + course.Image)" class="card-img-top" alt=""></div>
                                    <div class="course_body">
                                        <h3 class="course_title"><a href="course.html">@course.TenKhoaHoc</a></h3>
                                        <div class="course_teacher">@course.TrainerName</div>
                                    </div>
                                    <div class="course_footer">
                                        <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                            <div class="course_info">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                                <span>5 Ratings</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <!-- Thêm mã phân trang -->
                    <br />
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                            @using (Html.BeginForm("Index", "Course", FormMethod.Get))
                            {
                                <p>
                                    Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { @onchange = "this.form.submit();" })
                                </p>

                                @Html.Hidden("page", (object)ViewBag.Page)
                                @Html.Hidden("txtSearch", (object)ViewBag.txtSearch)
                                @Html.Hidden("JobPosID", (object)ViewBag.JobPosID)
                                @Html.Hidden("ApartmentID",(object)ViewBag.ApartID)
                            }
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                        </div>
                    </div>
                    <br/>
                    @Html.PagedListPager(Model, page => Url.Action("Index","Course", new { page, size = ViewBag.CurrentSize, txtSearch = ViewBag.txtSearch, JobPosID = ViewBag.JobPosID, ApartmentID= ViewBag.ApartID}),X.PagedList.Web.Common.PagedListRenderOptions.Classic)
                    <!-- Kết thúc -->
                </div>
            </div>
            <!-- Courses Sidebar -->
            <div class="col-lg-4">
                <div class="sidebar">
                    <!--Categories-->
                    <partial name="~/Views/Shared/GetJobPos.cshtml" />

                    <!-- Latest Course -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Latest Courses</div>
                        <div class="sidebar_latest">

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="~/assets/images/latest_1.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">How to Design a Logo a Beginners Course</a></div>
                                    <div class="latest_price">Free</div>
                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="~/assets/images/latest_2.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">Photography for Beginners Masterclass</a></div>
                                    <div class="latest_price">$170</div>
                                </div>
                            </div>

                            <!-- Latest Course -->
                            <div class="latest d-flex flex-row align-items-start justify-content-start">
                                <div class="latest_image"><div><img src="~/assets/images/latest_3.jpg" alt=""></div></div>
                                <div class="latest_content">
                                    <div class="latest_title"><a href="course.html">The Secrets of Body Language</a></div>
                                    <div class="latest_price">$220</div>
                                </div>
                            </div>

                        </div>
                    </div>


                    <!-- Tags -->
                    <div class="sidebar_section">
                        <div class="sidebar_section_title">Tags</div>
                        <div class="sidebar_tags">
                            <ul class="tags_list">
                                <li><a href="#">creative</a></li>
                                <li><a href="#">unique</a></li>
                                <li><a href="#">photography</a></li>
                                <li><a href="#">ideas</a></li>
                                <li><a href="#">wordpress</a></li>
                                <li><a href="#">startup</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="~/assets/js/courses.js"></script>
