@model TrainingWebsite.ViewModels.profileViewModel

<div class="tab-pane fade show active profile-overview" id="profile-overview">
    <h5 class="card-title">Profile Details</h5>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">Full Name</div>
        <div class="col-lg-9 col-md-8">@Model.FullName</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label ">BirthDate</div>
        <div class="col-lg-9 col-md-8">@Model.BirthDate</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Apartment</div>
        <div class="col-lg-9 col-md-8">@Model.ApartmentName</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Job</div>
        <div class="col-lg-9 col-md-8">@Model.JobName</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Level</div>
        <div class="col-lg-9 col-md-8">@Model.LevelName</div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 label">Address</div>
        <div class="col-lg-9 col-md-8">@Model.Address</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Phone</div>
        <div class="col-lg-9 col-md-8">@Model.Phone</div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 label">Email</div>
        <div class="col-lg-9 col-md-8">@Model.Email</div>
    </div>

</div>

