@model List<TrainingWebsite.ViewModels.CourseHomeViewModel>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .card-img-top {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
</style>
<!-- Counter -->
<div class="home">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url('../../assets/images/home_slider_1.jpg'); "></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_1" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url(../../assets/images/home_slider_1.jpg) "></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_2" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Home Slider Item -->
            <div class="owl-item">
                <div class="home_slider_background" style="background-image: url(../../assets/images/home_slider_1.jpg) "></div>
                <div class="home_slider_content">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <div class="home_slider_title">The Premium System Education</div>
                                <div class="home_slider_subtitle">Future Of Education Technology</div>
                                <div class="home_slider_form_container">
                                    <form action="#" id="home_search_form_3" class="home_search_form d-flex flex-lg-row flex-column align-items-center justify-content-between">
                                        <div class="d-flex flex-row align-items-center justify-content-start">
                                            <input type="search" class="home_search_input" placeholder="Keyword Search" required="required">
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Category Courses</option>
                                                <option>Category</option>
                                                <option>Category</option>
                                            </select>
                                            <select class="dropdown_item_select home_search_input">
                                                <option>Select Price Type</option>
                                                <option>Price Type</option>
                                                <option>Price Type</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="home_search_button">search</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
</div>

<!-- Popular Courses -->

<div class="courses">
    <div class="section_background parallax-window" data-parallax="scroll" data-image-src="../../assets/images/courses_background.jpg" data-speed="0.8"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="section_title_container text-center">
                    <h2 class="section_title">Popular Online Courses</h2>
                    <div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
                </div>
            </div>
        </div>
        <div class="row courses_row">
            @foreach (var course in Model)
            {
                <div class="col-lg-4 mb-3 d-flex align-items-stretch">
                    <div class="course">
                        <div class="course_image"><img src="@Url.Content("~/images/" + @course.Image)" class="card-img-top" alt="Card Image"></div>
                        <div class="course_body d-flex flex-column">
                            <h3 class="course_title"><a href="course.html">@course.TenKhoaHoc</a></h3>
                            <div class="course_teacher">@course.TrainerName</div>
                            @*<div class="course_text">
                                <p>@course.MucTieuKhoaHoc</p>
                            </div>*@
                        </div>
                        <div class="course_footer">
                            <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                <div class="course_info">
                                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                    <span>20 Student</span>
                                </div>
                                <div class="course_info">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <span>5 Ratings</span>
                                </div>
                                <div class="course_price ml-auto">$130</div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        
            <div class="row">
                <div class="col">
                    <div class="courses_button trans_200"><a href="#">view all courses</a></div>
                </div>
            </div>
     </div>
</div>

