@using TrainingWebsite.Areas.Trainer.Models
@using X.PagedList;
@using X.PagedList.Mvc;
@model IPagedList<TrainingWebsite.ViewModels.CourseHomeViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manager/Views/Shared/_ManagerLayout.cshtml";
}



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
@*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>*@
<style>
    body {
        color: #566787;
        background: #f5f5f5;
        font-family: 'Varela Round', sans-serif;
        font-size: 13px;
    }

    .table-responsive {
        margin: 20px 0;
    }

    .table-wrapper {
        background: #fff;
        padding: 20px 25px;
        border-radius: 3px;
        min-width: 1000px;
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .table-title {
        padding-bottom: 15px;
        background: #435d7d;
        color: #fff;
        padding: 16px 30px;
        min-width: 100%;
        margin: -20px -25px 10px;
        border-radius: 3px 3px 0 0;
    }

        .table-title h2 {
            margin: 5px 0 0;
            font-size: 24px;
        }

        .table-title .btn-group {
            float: right;
        }

        .table-title .btn {
            color: #fff;
            float: right;
            font-size: 13px;
            border: none;
            min-width: 50px;
            border-radius: 2px;
            border: none;
            outline: none !important;
            margin-left: 10px;
        }

            .table-title .btn i {
                float: left;
                font-size: 21px;
                margin-right: 5px;
            }

            .table-title .btn span {
                float: left;
                margin-top: 2px;
            }

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
        padding: 12px 15px;
        vertical-align: middle;
    }

        table.table tr th:first-child {
            width: 60px;
        }

        table.table tr th:last-child {
            width: 100px;
        }

    table.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
        background: #f5f5f5;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table td:last-child i {
        opacity: 0.9;
        font-size: 22px;
        margin: 0 5px;
    }

    table.table td a {
        font-weight: bold;
        color: #566787;
        display: inline-block;
        text-decoration: none;
        outline: none !important;
    }

        table.table td a:hover {
            color: #2196F3;
        }

        table.table td a.edit {
            color: #FFC107;
        }

        table.table td a.delete {
            color: #F44336;
        }

    table.table td i {
        font-size: 19px;
    }

    table.table .avatar {
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 10px;
    }

    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
    /* Custom checkbox */
    .custom-checkbox {
        position: relative;
    }

        .custom-checkbox input[type="checkbox"] {
            opacity: 0;
            position: absolute;
            margin: 5px 0 0 3px;
            z-index: 9;
        }

        .custom-checkbox label:before {
            width: 18px;
            height: 18px;
        }

        .custom-checkbox label:before {
            content: '';
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            background: white;
            border: 1px solid #bbb;
            border-radius: 2px;
            box-sizing: border-box;
            z-index: 2;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after {
            content: '';
            position: absolute;
            left: 6px;
            top: 3px;
            width: 6px;
            height: 11px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: inherit;
            z-index: 3;
            transform: rotateZ(45deg);
        }

        .custom-checkbox input[type="checkbox"]:checked + label:before {
            border-color: #03A9F4;
            background: #03A9F4;
        }

        .custom-checkbox input[type="checkbox"]:checked + label:after {
            border-color: #fff;
        }

        .custom-checkbox input[type="checkbox"]:disabled + label:before {
            color: #b8b8b8;
            cursor: auto;
            box-shadow: none;
            background: #ddd;
        }
    /* Modal styles */
    .modal .modal-dialog {
        max-width: 400px;
    }

    .modal .modal-header, .modal .modal-body, .modal .modal-footer {
        padding: 20px 30px;
    }

    .modal .modal-content {
        border-radius: 3px;
        font-size: 14px;
    }

    .modal .modal-footer {
        background: #ecf0f1;
        border-radius: 0 0 3px 3px;
    }

    .modal .modal-title {
        display: inline-block;
    }

    .modal .form-control {
        border-radius: 2px;
        box-shadow: none;
        border-color: #dddddd;
    }

    .modal textarea.form-control {
        resize: vertical;
    }

    .modal .btn {
        border-radius: 2px;
        min-width: 100px;
    }

    .modal form label {
        font-weight: normal;
    }
</style>
<script>
    $(document).ready(function () {
        // Activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

        // Select/Deselect checkboxes
        var checkbox = $('table tbody input[type="checkbox"]');
        $("#selectAll").click(function () {
            if (this.checked) {
                checkbox.each(function () {
                    this.checked = true;
                });
            } else {
                checkbox.each(function () {
                    this.checked = false;
                });
            }
        });
        checkbox.click(function () {
            if (!this.checked) {
                $("#selectAll").prop("checked", false);
            }
        });
    });
</script>
<div class="pagetitle">
    <nav>
        <h1>Course<b>List</b></h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Course</a></li>
            <li class="breadcrumb-item active">Course List</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row" id="row-header">
                    <form class="col-6 d-flex align-items-center justify-content-start" asp-action="Index" method="get" style="padding-right: 40px; padding-left: 0px;">
                        <div class="col-sm-12">
                            <input id="myInput" type="text" class="form-control" placeholder="Ten khoa hoc.." name="txtSearch" value="@ViewBag.txtSearch" />
                        </div>
                        <div class="col-sm-6">
                            <select name="JobPosID" asp-items="ViewBag.JobPosList" class="form-control"></select>
                        </div>
                        <div class="col-sm-6">
                            <select name="ApartID" asp-items="ViewBag.ApartList" class="form-control"></select>

                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-success bi bi-search" type="submit"></button>
                        </div>
                    </form>

                </div>
            </div>

            <table id="dtBasicExample" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>TenKhoaHoc</th>
                        <th>ThoiLuongKhoaHoc</th>
                        <th>Trainer_Name</th>
                        <th>JobPosName</th>
                        <th>ApartmentName</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var course in Model)
                    {
                        <tr>

                            <td>@course.Id</td>
                            <td>@course.TenKhoaHoc</td>
                            <td>@course.ThoiLuongKhoaHoc</td>
                            <td>@course.TrainerName</td>
                            <td>@course.JobPosName</td>
                            <td>@course.ApartName</td>

                            <td>
                                <a asp-action="Details" asp-controller="Course" asp-route-id="@course.Id" class="edit"><i style="font-size: 30px;" class="material-icons" data-toggle="tooltip" title="Detail">&#xe88e;</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- Thêm mã phân trang -->
            <br />
            <div class="row">
                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    @using (Html.BeginForm("Index", "Course", FormMethod.Get))
                    {
                        <p>
                            Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.Size, new { @onchange = "this.form.submit();" })
                        </p>

                        @Html.Hidden("page", (object)ViewBag.Page)
                        @Html.Hidden("txtSearch", (object)ViewBag.txtSearch)
                        @Html.Hidden("JobPosID", (object)ViewBag.JobPosID)
                        @Html.Hidden("ApartID", (object)ViewBag.ApartID)

                    }
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6">
                    @Html.PagedListPager(Model, page => Url.Action("Index", "Course", new { page, size = ViewBag.CurrentSize, txtSearch = ViewBag.txtSearch, JobPosID = ViewBag.JobPosID, ApartID = ViewBag.ApartID }), X.PagedList.Web.Common.PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>

                <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 text-right">
                    Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>
            </div>

            <!-- Kết thúc -->
        </div>
    </div>
</div>

<script>
    //$(document).ready(function () {
    //    $("#myInput").on("keyup", function () {
    //        var value = $(this).val().toLowerCase();
    //        $("#myTable tr").filter(function () {
    //            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    //        });
    //    });
    //});

    //function ConfirmDelete() {
    //    var x = confirm("Are you sure you want to delete?");
    //    if (x)
    //        return true;
    //    else
    //        return false;
    //}
</script>



