@model IEnumerable<TrainingWebsite.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThoiLuongKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MucTieuKhoaHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhThucDanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageTrainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobPos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThoiLuongKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MucTieuKhoaHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhThucDanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainer.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageTrainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobPos.OccuptionID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.courseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.courseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.courseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
