@model IEnumerable<TrainingWebsite.Areas.Trainer.Models.SessionListViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Trainer/Views/Shared/_TrainerLayout.cshtml";
    
}

<div class="pagetitle">
    <nav>
        <h3>@ViewBag.courseName</h3>
        <ol class="breadcrumb"> 
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Course")">Course</a></li>
            <li class="breadcrumb-item active">Session List </li>
        </ol>
    </nav>
</div><!-- End Page Title -->

    @if (Model.Any())
    {
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateTopic" asp-route-id="@ViewBag.courseID"
           asp-controller="Topic">Add Session</a>

        foreach (var session in Model)
        {

            <div class="card mb-3">
                <div class="card-header">
                    Session Id : @session.ID
                </div>
                <div class="card-body">
                    <h5 class="card-title">@session.TenChuDe</h5>
                   
                        @*<video id="videoplayer" style="width:600px;height:300px; object-fit:cover" src="@Url.Content("~/Video/" + @session.NoiDung)" controls loop></video>*@

                         @*<iframe width="560" height="315" src="https://www.youtube.com/embed/@session.NoiDung" title="YouTube video player" 
                                 frameborder="0" 
                                 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                                 allowfullscreen></iframe>*@

                    
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteTopic" asp-route-id="@session.ID">
                        <a href="@Url.Action("EditTopic","Topic",new { id=session.ID, courseID= ViewBag.courseID})" class="btn btn-primary">
                            Edit
                        </a>
                        <button type="submit" class="btn btn-danger">
                            Delete
                        </button>

                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No session created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button below to create a session
                </h5>
                <a class="btn btn-primary" style="width:auto"
                   asp-controller="Topic" asp-action="CreateTopic" asp-route-id="@ViewBag.courseID">
                    Create Session
                </a>
            </div>
        </div>
    }