@model TrainingWebsite.ViewModels.TraineeCourseViewModel

@{
    ViewData["Title"] = "Enroll";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Enroll</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Enroll">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TraineeID" />
            <br />
            <div class="form-group">
                <label asp-for="ErollDate" class="control-label"></label>
                <input asp-for="ErollDate" class="form-control" />
                <span asp-validation-for="ErollDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="TraineeLevel" class="control-label"></label>
                <select asp-for="TraineeLevel" asp-items="@ViewBag.LevelList" class="form-control"></select>
                <span asp-validation-for="TraineeLevel" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" asp-items="@Model.StatusList" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <textarea asp-for="Title" class="form-control" ></textarea>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Courses, new { @class = "control-label col-md-2" })
                <table id="dtBasicExample" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Enroll</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @for (int i = 0; i < Model.Courses.Count(); i++)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => model.Courses[i].courseID)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => Model.Courses[i].courseName)
                                </td>
                                <td>
                                    @Html.EditorFor(model => Model.Courses[i].IsSelected)

                                </td>
                                @Html.HiddenFor(model => model.Courses[i].courseID)
                                @Html.HiddenFor(model => model.Courses[i].courseName)
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="getEmploeeList">Back to List</a>
</div>
